.signup {
    background: url(../../Images/evangadi-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    color: #2d385e;
}

.signup_container {
    width: 70%;
    margin: 0 auto;
    padding-top: 8%;
    display: flex;
    justify-content: center;
}

.signup_col {
    height: 550px;
    width: 500px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-right: 30px;
}

.signup_title {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}

.signup_title .title{
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

.signup_title p{
    color: #62626f;
}

.signup_col  a {
    color: #da7000;
    text-decoration: none;
}

.signup_col  a:hover{
    text-decoration: underline;
}

.signup_form {
    background-color: #fff;
    box-shadow: 15px 15px 25px 1px #d5d5d5;
    border-radius: 10px;
    text-align: center;
}

.signup_form form {
    margin:  0 40px;
}

.signup_form input {
    width: 95%;
    margin-bottom: 20px;
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid rgba(39, 38, 38, 0.3);  
}
.signup_form input:focus{
    outline:none;
    border-bottom:3px solid #fe8303;
}
.full_name{
    display: flex;
    justify-content: space-between;
}
.full_name input{
    width: 44%;
}

.button {
    padding: 10px 20px;
    width: 40%;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 10px;
}

.button:hover{
    background-color: #fe8402;
    border-color: #fe8402;
}
.signup_form .button{
    width: 100%;
}

.Q_A {
    font-size: 40px;
    margin: 10px 0;
}

.evangadi_desc {
    color: #656565;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 20px;
}

.about {
    color: #fe8303;
    margin-top: 100px;
    margin-bottom: 0;
}